# VK_ACCESS_TOKEN is the token that allows you to use VK API
# Get VK_ACCESS_TOKEN on https://dev.vk.com/ru/admin/apps-list
# If there is no mini-apps, create one and get a 'Service key' in "Your App/Development/Access Keys" section
VK_ACCESS_TOKEN = ""
