#   =====   VK API SETTINGS     =====

# VK_ACCESS_TOKEN is the token that allows you to use VK API
# Get VK_ACCESS_TOKEN on https://dev.vk.com/ru/admin/apps-list
# If there is no mini-apps, create one and get a 'Service key' in "Your App/Development/Access Keys" section
VK_ACCESS_TOKEN = ""

# VK_ACCESS_TOKEN is the token that sets max RPS to VK API
# You can find the value at https://dev.vk.com/ru/api/api-requests in "Ограничения и рекомендации" section
# Currently 3 is a minimal maximum
VK_MAX_RPS = 3



#   =====   APP SETTINGS        =====

# Using slog for logging, default levels:
# DEBUG = −4
# INFO = 0
# WARN = 4
# ERROR = 8
LOGGER_LEVEL = 4

# Use debug mode for breaking unnecessary loops after one iteration
DEBUG_MODE = FALSE

# Path for on disk repo for debug mode
DISK_REPO_BASE_PATH = "./diskRepo"